<!-- Home Template -->
  <div data-role="header" data-position="fixed">
  	<a ng-click="toggle(event)" href="#menupanel" class="ui-btn ui-btn-inline ui-corner-all ui-shadow">=</a>
    <h1>Home</h1>
  </div>

  <div data-role="main" class="ui-content">
    <div style="text-align:center;">
      <img id="Picture" src={{identity.photos.thumbnail}} style="margin-left:10px;margin-right:10px;padding:5px;border:solid gray 1px;vertical-align: top">
        <h1 style="display:inline-block;margin-top:5px;">{{ identity.display_name }}</h1><br/>
        <span>{{ date_expression | date : format : timezone}}</span>
    </div>
  </div>

  <div data-role="footer" data-position="fixed">
    <h1>Salesforce Mobile App</h1>
  </div>

<!-- Menu -->
<div data-theme="b" data-role="panel" data-dismissible="true" data-swipe-close="true" data-position-fixed="true" data-display="overlay"
id="menupanel" ng-controller="menucontroller"></div>  
