<div data-role="header" data-position="fixed" role="banner" class="ui-header ui-bar-inherit ui-header-fixed slidedown ui-shadow" ng-class="(record.sync_status=='Synced'?'recordSynced':(record.sync_status=='In Progress')?'recordSyncedOrange':'recordSyncedRed')">
  	<a ng-click="gotoHome()" class="ui-nodisc-icon ui-btn ui-icon-arrow-l ui-alt-icon ui-btn-icon-notext" style="background-color:transparent;border:0px;">No Text</a>
    <h1 class="ui-title">{{ newRecord.name }}</h1>
    <!--<div class="ui-bar ui-bar-a">
        <h1 class="ui-title">Outlet Forms</h1>
    </div>-->
  </div>
  <div data-role="main" class="ui-content detailPage">

  <!-- Using Responsive Grid -->
  <ul data-role="listview" data-inset="false" class="ui-listview">
    <li>
          <label for="name">{{getFormLabel('name')}}</label>
          <input name="name" type="text" ng-model="newRecord.name"/>
    </li>
     <li>
        <label for="name">{{getFormLabel('taskstage')}}</label>
        <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset" style="height:35.781px;width:100%;border-bottom:solid 1px rgba(0,0,0,0.17)">
          <span class="picklist-value" ng-click="gotoPicklistScreen('taskstage')">{{newRecord.taskstage}}
            <div class="picklist-arrow"/>
          </span>
        </div>          
    </li>
    <div class="divider"></div> <!-- only applicable for  wide screen-->
     <li>
          <label for="name">{{getFormLabel('mobilenumber')}}</label>
          <input name="phone" type="phone" ng-model="newRecord.mobilenumber"/>
    </li>
     <li>
          <p>{{getFormLabel('email')}}</p>
          <h4>{{record.email}}</h4>
    </li>
    <div class="divider"></div> <!-- only applicable for  wide screen-->
     <li>
          <p>{{getFormLabel('type')}}</p>
          <h4>{{record.type}}</h4>
    </li>
     <li>
          <p>{{getFormLabel('retailownername')}}</p>
          <h4>{{record.retailownername}}</h4>
    </li>
    
  </ul>
    <br/>
    <div data-role="collapsibleset" data-inset="true">
      <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" style="margin-top:10px">
        <h4>Address Details</h4>
        <ul data-role="listview" data-inset="false">
          <li>
              <p>{{getFormLabel('address')}}</p>
              <h4>{{record.address}}</h4>
          </li>
          <li>
              <p>{{getFormLabel('city')}}</p>
              <h4>{{record.city}}</h4>
          </li>
          <div class="divider"></div>
          <li>
              <p>{{getFormLabel('pincode')}}</p>
              <h4>{{record.pincode}}</h4>
          </li>
          <li>
              <p>{{getFormLabel('state')}}</p>
              <h4>{{record.state}}</h4>
          </li>
          <div class="divider"></div>
          <li>
              <p>{{getFormLabel('landmark')}}</p>
              <h4>{{record.landmark}}</h4>
          </li>
        </ul>
    </div>
    <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
      <h4>Documents</h4>
      <ul data-role="listview" data-inset="false">
          <li>
              <p>{{getFormLabel('address')}}</p>
              <h4>{{record.address}}</h4>
          </li>
      </ul>
    </div>
    <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
      <h4>Attested Documents</h4>
    </div>
    <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
      <h4>Not-Attested Documents</h4>
    </div>
  </div>
</div>

  <div data-role="footer" data-position="fixed"  data-tap-toggle="false">
    <h1>PayTM Demo</h1>
  </div>



</div>